*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    background-color: $color-main;
}

.container {

    &__header {
        width: 100vw;
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $font-family-serif;
        border: solid 1px $blue-background;
        position: sticky;
    }

    &__slogan {
        width: 70vw;
        color: $blue-background;
        display: flex;
        justify-content: space-between;

    }

    &__button {
        width: 90px;
    }
}

.logo_img {
    height: 100px;
}

.nav-main {
    display: flex;

}

.container__nav {

    width: 20vw;
    height: 100vh;
    line-height: 1.6;
    background-color: $white-background;
    color: $blue-background;
    font-family: $font-family-serif;
    font-size: $font-size-medium;
    position: sticky;

}


.container__main {
    margin-top: 0;
    width: 80vw;
    // background-image: url(../../assets/images/girl.jpg);
    // background-size: 100% auto;
    // background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    background-color: $blue-background;
    // grid-template-columns: 1fr, 1fr;
    // grid-template-rows: 1fr, 1fr;
}

.container__main_photo {
    width: 50%;
}

.main_photo {
    width: 100%;

}

.container__main_info {
    width: 50%;
}

.info_gete {
    font-size: $font-size-medium;
    padding-left: 40px;
    padding-top: 40px;
    margin-top: 0px;
    color: white;
    font-size: $font-size-large;
    font-family: $font-family-serif;
}

.button {
    background-color: rgb(239, 193, 11);
    width: 12rem;
    height: 5vh;
    border-radius: 4px;

    &__donate-main {
        margin-left: 40px;
        margin-top: 80px;
    }
}
