@charset "UTF-8";
/* Оригинальные переменные HOMEPAGE  */
/* А тут какие-то классы и стили для тегов, тоже общие для всего проекта */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background-color: white;
}

.container__header {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Georgia, "Times New Roman", serif;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 8px 0 0 0 #fff, 0 0 14px 0 rgba(0, 0, 0, 0.25);
  z-index: 150;
  background-color: white;
  padding-right: 20px;
}
.container__social-links {
  width: 70vw;
  color: #022a59;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container__button-header {
  width: 120px;
  display: flex;
}
.container__button-header_search {
  width: 360px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
.container__button-header_donate {
  width: 180px;
}
.container__nav-main-article {
  margin-top: 140px;
  margin-left: 14rem;
  z-index: 1;
  width: calc(100% - 14rem);
}
.container__nav {
  width: 14rem;
  height: 100vh;
  line-height: 1.65;
  background-color: white;
  color: #022a59;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
  position: fixed;
  top: 150px;
  left: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container__main {
  overflow: hidden;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container__main_photo {
  width: 60%;
}
.container__main_info {
  width: 40%;
}

.icon__youtube {
  width: 50px;
  height: 50px;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}

li {
  padding-left: 0px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #022a59;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
}

.logo__img {
  height: 120px;
}
.logo__link {
  background-color: white;
}

.logo__link:hover {
  background-color: #fff;
}

.main__photo {
  width: 100%;
}

.info__gete {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  margin-top: 0px;
  color: #022a59;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 24px;
  display: inline-block;
}
.info__gete_name {
  position: absolute;
  right: 50px;
  font-size: 24px;
}

.button {
  background-color: rgb(239, 193, 11);
  width: 140px;
  height: 40px;
  border-radius: 4px;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
}

.article__community-describe {
  overflow: hidden;
  width: 103%;
  color: white;
  background-color: #022a59;
  padding-right: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  line-height: 1.4;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  box-shadow: 8px 0 0 0 #fff, 0 0 14px 0 rgba(0, 0, 0, 0.25);
  margin-top: -3px;
}
.article__community-describe__diapeople-name {
  font-weight: bold;
}
.article__community-describe__form {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.article__community-describe__form_person-contact {
  width: 70%;
  border-radius: 6px;
  padding-left: 20px;
  height: 40px;
}
.article__community-describe__form_submit-contact {
  height: 40px;
}
.article__links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 103%;
  height: 300px;
  background-color: #c2d5ec;
}
.article__information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 103%;
  background-color: white;
}

.link {
  width: 14rem;
  height: 10rem;
  color: #022a59;
  font-size: 24px;
  font-family: Georgia, "Times New Roman", serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.information {
  width: 33rem;
  height: 28rem;
  border: dotted 1px #022a59;
  color: #022a59;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  margin-bottom: 140px;
  margin-left: 14rem;
  width: calc(100% - 14rem);
  background-color: #022a59;
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
}

.about_diabete__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.what_is_diabete_text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.insulin__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.hypoglikemia__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.hyperglikemia__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.food__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.for_new_people__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.psyhology__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.gadgets__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.insulin_injection__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.measure_devices__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.documents__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.posobia__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.lgoty__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.hospitals__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.diabete_lifestyle__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.fakes__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.world_diabete__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.community__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}

.school__text-container {
  color: black;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-left: 20vw;
}/*# sourceMappingURL=main-styles.css.map */